/* Individual Post Styling */
.title {
    padding: 1.5%;
}

h3 {
    font-size: 25px;
    padding: 1%;
}

p {
    font-size: large;
    padding: .5%;
}

/* Comment List Styling */
#commentDiv {
    background-color: #C4DACF;
}

#postedBy {
    text-align: left;
}

#commentBody {
    text-align: center;
    padding-left: 10%;
}

/* New Comment Form Styling */
.newCommentTitle {
    padding: 1.5%;
    text-align: center;
}

.newCommentTitleDiv {
    align-items: center;
    font-family: 'Pixelify Sans', sans-serif;
}

textarea {
    width: 75%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px grey;
    border: 2px solid grey;
    border-radius: 4px;
    font-size: 14px;
    resize: none;
}

label {
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 1%;
    font-size: 25px;
}
  
label:after { content: " " }


.btn-primary {
    height: 5%;
    width: 20%;
    text-align: center;
    padding: 1%;
}

a {
    padding: 15%;
    font-size: 20px;
}

.btnRow {
    padding: 2%;
}

.btn-danger {
    align-items: left;
    height: 10%;
    width: 25%;
    text-align: center;
    padding: 1%;
}