/* Individual Post Styling */
.title {
    padding: 1.5%;
}

h3 {
    font-size: 25px;
    padding: 1%;
}

p {
    font-size: large;
    padding: .5%;
}

/* Comment List Styling */
#commentDiv {
    background-color: #C4DACF;
}

#postedBy {
    text-align: left;
}

#commentBody {
    text-align: center;
}

/* New Comment Form Styling */
.newCommentTitle {
    padding: 1.5%;
    text-align: center;
}

